body{
    margin: 0;
}
.rules{
    color:rgb(198, 200, 201);
}
.rule{
    color: rgb(46, 161, 47);
}
#main{
    display: inline-block;
    height: 100vh;
/*    text-align: center;*/
	background-image: url("../images/background.png");
    background-size: cover;
    width: 100%;
}

/********* Game board *********/
.block{ /* correspond à chaque case à l'interieur de la grille */
    width: 30px;
    height: 30px;
    display: inline-block;
    line-height: 0;
    margin: 0;
    background-size: contain;
}
.block:hover{
    background-color: pink;
}

/********* Matter Classes *********/
.wood{
    background-image: url('../images/wood.png');
}
.leaves{
    background-image: url('../images/sapin.jpg');
}
.stone{
    background-image: url('../images/stone.png');
}
.floor{
    background-image: url('../images/herb.jpg');
}
.dirt{
    background-image: url('../images/dirt.png');
}
.bush{
    background-image: url('../images/bush.png');
}

/********* Landing page *********/
#logo{
	width: 63%;
    display: inline-block;
    margin-top: 141px;
    margin-left: 179px;
}
#world{
    display: none; /* pour pas qu'on le voit au début */
    width: 600px;
    height: 600px;
    margin: 2% auto;
    background-image: url("../images/sky.jpg");
    background-size: auto 100%;
}

.myButton, .tuto{
	font-family: arial;
	background-color:rgb(26, 192, 36);
	border: 5px solid black;
    display:inline-block;
    margin:auto;
    position: absolute;
    font-size: 18px;
}
#button{
    text-align: center;
    position: relative;
}
.tuto{
    right: 400px;
}
.myButton{
    left: 400px;
}
/********* Barre d'outils *********/
#tool-bar{
    /*display: none;*/
    display: inline-block;
    height: 100%;
    width: 190px;
    padding: 15px;
    text-align: center;
    background-image: url("../images/greytwo.jpg");
    background-size: cover;
    position: fixed;
    right:0;
    top:0;
}
.tool, .matter{
    height: 70px;
    width: 70px;
    /*border:1px solid black;*/
    margin: auto;
    margin-top: 8px;
    box-shadow: 5px 5px 5px black;
    border-radius: 10px;
    overflow: hidden;

    background-color: rgb(201, 206, 208);

}
.matter p{
    color: white;
    background-color: black;
    /*border-radius: 0px 0px 10px 10px;*/
    margin-top: 100%;
    transform: translateY(-100%);
}

/********* Tools *********/
#secateur, #pickaxe, #shovel, #axe{
    display:inline-block;
    margin-right: 11px;
    
}
#secateur{
    background-image: url("../images/secateur.png");
    background-size: 80% 80%;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 18px;
}
#axe{
    background-image: url("../images/axe.png");
    background-size: 80% 80%;
    background-repeat: no-repeat;
    background-position: center;
}
#pickaxe{
    background-image: url("../images/pickaxe.png");
    background-size: 80% 80%;
    background-repeat: no-repeat;
    background-position: center;
}
#shovel{
    background-image: url("../images/shovel.png");
    background-size: 80% 80%;
    background-repeat: no-repeat;
    background-position: center;
}

/********* Matters *********/
#stone,#leaves,#wood,#bush,#dirt,#floor{
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    display:inline-block;
    margin-right: 11px;
}
#stone{
    background-image: url("../images/stone.png");
}
#leaves{
    background-image: url("../images/sapin.jpg");
}
#wood{
    background-image: url("../images/wood.png");
}
#bush{
    background-image: url("../images/bush.png");
}
#dirt{
    background-image: url("../images/dirt.png");
}
#floor{
    background-image: url("../images/herb.jpg");
}